.homeGuest{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.homeGuestItems{
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    padding: 5px 0px;
}

.homeGuestImg{
    width: 100%;
    object-fit: cover;
}
.homeGuestTitle>h1{
    font-size: 20px;
    font-weight: bold;
}

.homeGuestTitle>h2{
    font-size: 16px;
    color: gray;
    text-align: justify;
    padding: 10px 0px;
    font-weight: normal;
}
.homeGurstReview{
    display: flex;
    justify-content: space-between;
    gap: 2px;
    align-items: center;
}
.homeGurstReview>span{
    background-color: #003580;
    padding: 10px;
    color: white;
    border-radius: 10px;
    align-items: center;
}
.homeGurstReview>h1{
    font-size: 16px;
}
.homeGurstReview>h2{
    font-size: 14px;
    color: gray;
}